body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    /* -webkit-padding-start: 0fr; */
}


.card-body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: .1rem;
}

/* SIDEBAR */

[class*="sidebar-dark-"] {
    background-color: hsla(226, 92%, 15%, 0.911) !important;
    /* background-color: #17a2b8 !important; */
}

[class*="sidebar-dark-"] .sidebar a {
    color: #fcfcfc;
    /* font-weight: 600; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: hsla(226, 92%, 15%, 0.911) !important;
    /* scrollbar-color: #7e0505 transparent; */
}

/* END */

/* Welcme bg banner */
.small-box{
    background-color: hsla(226, 92%, 15%, 0.911) !important;
}

/* BANNER CARD */
.card-info:not(.card-outline) > .card-header {
    background-color: hsla(226, 92%, 15%, 0.911) !important;
}

/* end */
/* BTN AJOUTER GESTION ABSENCE,present, demission */
.breadcrumb {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #6c757d;
    border-radius: .25rem;
}

/* paginate */ 
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: hsla(226, 92%, 15%, 0.911) !important;
    border-color: hsla(226, 92%, 15%, 0.911) !important;
}
